html, body {
	margin:0; padding:0;
	height:100%;
}
 
body {
	background: 50% 50% no-repeat;
	font-family:Georgia, Times, serifs;
	background-color: #d9dee2;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebeef2), to(#d9dee2));
	background-image: -webkit-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: -moz-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: -ms-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: -o-linear-gradient(top, #ebeef2, #d9dee2);
	background-image: linear-gradient(top, #ebeef2, #d9dee2);
}


#wrapper
 {
    background-color: #fff;
    	
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(top, #fff, #eee);
    
    position:relative; clear:left;
    height:650px; width:80%; max-width:800px; min-width:400px;
    margin:0 auto;
    background:#fff;
    #border:4px solid #666;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;  
    -webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
    box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);


   
    
}

#header {
    position: relative; top:10px;
    padding:0px; margin:25px;
    height:100px;
    background:
    url('logo.png') 2% 0 no-repeat;
    -webkit-background-size: 15% 100%;
    border-radius: 6px;
    border: 1px solid #E0AA0F;
    text-align: center;
    color: #E0AA0F;
    
    }


#container {
	position: relative;
}
#add {
    position:absolute; left:0; top:0; bottom:0; right:50%;
    padding:10px; margin:10px;
}
#change {
	position:absolute; left:50%; right:0; top:0; bottom:0;
	overflow:auto; height:340px;
	padding:10px; margin:10px;
	
}

input {
    margin-left: 3em;
    margin-bottom: 3em;
    width: 12em;
}

select {
    margin-left: 8.5em;
    margin-bottom: 3em;
    width: 15em;
}



label.heading {
  float: left;
  marin-right: 10em;
  text-align: right;
  width: 8em;
  }


 input[type="Submit"] {
  
  font-weight: bold;
  
  margin-left: 40em;
  }

h2 {
    text-align: center;
    font-size: 1.5em;
    }
